.background {
  .home-wrapper {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 20px;
    background: var(--secondary-color);
    color: white;
  }
}
