@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');
:root{
  --primary-color:#4a2aff;
  --secondary-color:#3c2aff;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: #101010;
  color: #fff;
}
.flex{
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}